<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicinventory">

    <!-- We need to request permission to access (read and write) the user SD Card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- advertise on Google Play that your application uses, but does not require a camera in order to function -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditorActivity"
            android:label="@string/add_instrument"
            android:parentActivityName=".MainActivity"> <!--Add the Up button-->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".DetailsActivity"
            android:label="Details"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <!--ContentProvider for database-->
        <provider
            android:name=".data.InventProvider"
            android:authorities="${applicationId}"
            android:exported="false">
        </provider>

        <!--File Provider for camera and galley files-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.myFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>






    </application>

</manifest>